/* .AppClass{
    background-color: coral;
    color: rgb(39, 0, 182);
    text-align: center;
    padding: 10px;
}

.StudentClass{
    background-color: darkgrey;
    color: darkred;
} */

.txt{
    background-color: blue;
    color: white;
}